<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Pickup-teams</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/posts">Posts</a>
            <a class="nav-item nav-link" href="/profile">Profile</a>
            <a class="nav-item nav-link disabled" href="/posts/add">Add</a>
            <a class="nav-item nav-link disabled" href="#">About</a>
        </div>
    </div>
</nav>

<div class="container">
    <h1 class="display-5">All pick up message</h1>
    <p class="lead"></p>
    <hr class="my-4">


</div>

<div class="container" >
    <!-- Content here -->
    <div class="row">
        <div class="col-3"><img src="/images/profile.jpeg" class="img-rounded" alt="Cinque Terre"></div>
        <div class="col-9">
            <div class="card" style="width: 37rem;">

                    <div class="card-body">
                        <i id="retweet" class="fas fa-retweet"> gary retweeted</i>
                        <br></br>
                        somename@somename
                        <br></br
                        GARY GARY

                        <div class="row">
                            <div class="col-md-4"><i class="far fa-comment"></i>I know your are in trouble</div>
                        </div>
                    </div>
                    <hr></hr>

            </div>

        </div>

    </div>
</div>
</div>


</body>
</html>
